/* style.css */
body { 
	font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif; 
	margin: 0; 
	padding: 0; 
	background-color: #232428; 
} 

header { 
	background-color: #1E1F22; 
	color: #fff; 
	text-align: center; 
	padding: 20px; 
} 

main { 
	max-width: 1100px; 
	margin: 20px auto; 
} 

.counter {
	text-align: center;
	color: #F2F3F5;
}

.tiles-container { 
	display: flex; 
	flex-wrap: wrap; 
	gap: 20px; 
} 

.tile { 
	max-width: 310px; 
	height: 320px;
	flex: 1 0 300px; 
	background-color: #2B2D31; 
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
	padding: 20px; 
	border-radius: 10px; 
	transition: transform 0.3s ease-in-out; 
	position: relative;
} 

.info {
	color: #F2F3F5;
}

.description {
	color: #DBDEE1;
}

.progress {
	position: absolute;
	bottom: 0;
	left: 20;
}
.progress-info {
	line-height: 0.6; 
}

.art { 
  display: inline-block;
  vertical-align: top;
} 

.tile:hover { 
	transform: scale(1.05); 
} 

footer { 
	background-color: #1E1F22; 
	color: #fff; 
	text-align: center; 
	padding: 10px; 
}
