---
---

@import "{{ site.theme }}";

.page-wrapper {
    max-width: 1500px; /* Increase this value */
    margin: 0 auto;
}

.container {
    max-width: 100%; /* Increase this value to make the page wider */
    margin: 0 auto; /* Centers the container */
    padding: 0 20px; /* Adjust padding if needed */
}
